.navigationbar {
  background-color: rgb(5, 4, 2);
  width: 100%;
  height: 77px;
  padding-top: 1px;
}

.navigations {
  width: 40%;
  height: 130px;
  float: right;
}
.navinfo {
  padding-left: 197px;
  margin-top: -62px;
  border-spacing: 35px;
  font-size: 22px;
}
.black {
  background-color: black;
  width: 100%;
  height: 1980px;
}
.image {
  padding-left: 1200px;
  padding-top: 1px;
  margin-top: -3px;
  width: 686px;
}
.pi {
  color: #16e928;
  font-family: cursive;
  padding-left: 200px;
  margin-top: -1200px;
  text-decoration-line: underline;
}
.about {
  color: green;
  padding-left: 190px;
  padding-top: 20px;
  font-family: "Zen Dots", cursive;
}
.contactform {
  width: 100%;
  height: 550px;
  background-color: #070808;
}
.formhead {
  text-align: center;
  font-size: xx-large;
  color: #1ff717;
  font-family: "Zen Dots", cursive;
  text-decoration: underline;
}
#FM {
  margin-left: 80px;
  width: 457px;
  height: 30px;
  padding-left: 20px;
  font-size: large;
}
#mail {
  margin-left: 280px;
  width: 357px;
  height: 30px;
  padding-left: 20px;
  font-size: large;
}
#for {
  margin-top: 30px;
  margin-left: 100px;
  width: 357px;
  height: 30px;
  padding-left: 10px;
  font-size: large;
}
#fno {
  margin-left: 280px;
  margin-top: 30px;
  width: 357px;
  height: 40px;
  padding-left: 20px;
  font-size: large;
}
#fg {
  margin-top: 30px;
  width: 40%;
  height: 196px;
  margin-left: 80px;
  font-size: large;
  padding-top: -10px;
}
.fs {
  margin-left: 733px;
  margin-top: 15px;
  width: 90px;
  height: 40px;
  background-color: rgb(46, 116, 202);
  color: whitesmoke;
  font-size: 90%;
  font-weight: 400;
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer {
  width: 100%;
  height: 58px;
  background-color: #2990af;
  margin-top: 40px;
}
.copyright {
  text-align: center;
  color: white;
  font-size: large;
  padding-top: 22px;
  font-family: "Zen Dots", cursive;
}
